### Python ###
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Netology/
*.sqlite3
env/
/__pycache__
### Project specific ###
settings_local.py

### OS specific ###
.DS_Store